<div class="box-follow-us">
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <div class="box-follow-us__item__image__content">
        <img src="../../images/box-follow-img.png" alt="image box follow us">
      </div>
    </div>
    <div class="box-follow-us__item__social">
      <a class="icon-twitter" href="https://twitter.com">@stanford_scale</a>
      <a class="icon-facebook2" href="https://www.facebook.com/">/StanfordSCALE</a>
    </div>
  </div>
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <div class="box-follow-us__item__image__content">
        <img src="../../images/box-follow-img1.png" alt="image box follow us">
      </div>
    </div>
    <div class="box-follow-us__item__social">
      <a class="icon-twitter" href="https://twitter.com">@scope_stanford</a>
      <a class="icon-facebook2" href="https://www.facebook.com/">/SCOPE.Stanford</a>
    </div>
  </div>
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <div class="box-follow-us__item__image__content">
        <img src="../../images/boxfollow-img2.png" alt="image box follow us">
      </div>
    </div>
    <div class="box-follow-us__item__social">
      <a class="icon-twitter" href="https://twitter.com">@ccsso</a>
      <a class="icon-facebook2" href="https://www.facebook.com/">/SCOPE.Stanford</a>
    </div>
  </div>
</div>




