
{% block box_follow %}
  {% set boxfollow = [
    {
     'img'     : '<img src="../../images/box-follow-img.png" alt="image box follow us">',
     'Twitter' : '<a class="icon-twitter" href="https://twitter.com">@stanford_scale</a>',
     'facebook' : '<a class="icon-facebook2" href="https://www.facebook.com/">/StanfordSCALE</a>'
    },
    {
     'img'     : '<img src="../../images/box-follow-img1.png" alt="image box follow us">',
     'Twitter' : '<a class="icon-twitter" href="https://twitter.com">@scope_stanford</a>',
     'facebook' : '<a class="icon-facebook2" href="https://www.facebook.com/">/SCOPE.Stanford</a>'
    },
    {
     'img'     : '<img src="../../images/boxfollow-img2.png" alt="image box follow us">',
     'Twitter' : '<a class="icon-twitter" href="https://twitter.com">@ccsso</a>',
     'facebook' : '<a class="icon-facebook2" href="https://www.facebook.com/">/SCOPE.Stanford</a>'
    }
  ] %}

<div class="box-follow-us">
  {% for item in boxfollow %}
    <div class="box-follow-us__item">
      <div class="box-follow-us__item__image">
        <div class="box-follow-us__item__image__content">
          {{item.img}}
        </div>
      </div>
      <div class="box-follow-us__item__social">
        {{item.Twitter}}
        {{item.facebook}}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}



