<div class="box-follow-us">
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <img src="../../images/boxhero-about-page.jpg" alt="image box hero about">
    </div>
    <div class="box-follow-us__item-social">
      <a class="icon-twitter" href="https://twitter.com">@stanford_scale</a>
      <a class="icon-facebook" href="https://www.facebook.com/">/StanfordSCALE</a>
    </div>
  </div>
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <img src="../../images/boxhero-about-page.jpg" alt="image box hero about">
    </div>
    <div class="box-follow-us__item-social">
      <a class="icon-twitter" href="https://twitter.com">@scope_stanford</a>
      <a class="icon-facebook" href="https://www.facebook.com/">/SCOPE.Stanford</a>
    </div>
  </div>
  <div class="box-follow-us__item">
    <div class="box-follow-us__item__image">
      <img src="../../images/boxhero-about-page.jpg" alt="image box hero about">
    </div>
    <div class="box-follow-us__item-social">
      <a class="icon-twitter" href="https://twitter.com">@ccsso</a>
      <a class="icon-facebook" href="https://www.facebook.com/">/SCOPE.Stanford</a>
    </div>
  </div>
</div>




