<form accept-charset="UTF-8" id="search-block-form" method="post" action="#" class="form-search content-search">
  <label class="lable-search">You have searched for</label>
  <div class="input-group">
    <input type="text" maxlength="128" size="15" value="" name="search_block_form" id="edit-search-block-form--2" class="form-control form-text" placeholder="Science" title="Enter the terms you wish to search for.">
    <span class="input-group-btn">
          <button class="icon-search" type="submit"></button>
        </span>
  </div>
</form>
<form accept-charset="UTF-8" id="search-block-form" method="post" action="#" class="form-search content-search">
  <label class="lable-search">search all bins</label>
  <div class="input-group">
    <input type="text" maxlength="128" size="15" value="" name="search_block_form" id="edit-search-block-form--2" class="form-control form-text" placeholder="keyword" title="Enter the terms you wish to search for.">
    <span class="input-group-btn">
          <button class="icon-search" type="submit"></button>
        </span>
  </div>
</form>
