{# box_img.twig #}
{% block boxsearch %}
  {% set search = [
    {
      "lable": "You have searched for",
      "placeholder": "Science",
    },
    {

      "lable": "search all bins",
      "placeholder": "keyword",
    }
  ]%}

  {% for iterm in search %}
    <form accept-charset="UTF-8" id="search-block-form" method="post" action="#" class="form-search content-search">
      <label class="lable-search">{{iterm.lable}}</label>
      <div class="input-group">
        <input type="text" maxlength="128" size="15" value="" name="search_block_form" id="edit-search-block-form--2" class="form-control form-text" placeholder="{{iterm.placeholder}}" title="Enter the terms you wish to search for.">
        <span class="input-group-btn">
          <button class="icon-search" type="submit"></button>
        </span>
      </div>
  </form>
  {% endfor %}
{% endblock %}
