<div class="item-list text-center">
  <ul class="pager pagination first">
    <li class="pager-item prev">
      <a href="#" title="Go to previous page">
        < previous</a>
    </li>
    <li class="pager-item"><a href="#">1</a>
    </li>
    <li class="pager-item active"><a href="#" title="Go to page 2">2</a>
    </li>
    <li class="pager-item"><a href="#" title="Go to page 3">3</a>
    </li>
    <li class="pager-item"><a href="#" title="Go to page 4">4</a>
    </li>
    <li class="pager-item"><a href="#" title="Go to page 5">5</a>
    </li>
    <li class="pager-item"><span>6</span>
    </li>
    <li class="next last"><a href="#" title="Go to next page">next ></a>
    </li>
  </ul>
</div>
